body {
    color: #ff00ea;
    background-color: #91dde3;
 }

  h1{
    text-align: center;
    color: #ff00ea;
    text-transform: capitalize;

  }
   h2,h3,h4,h5,h6{

    color: #ff00ea;
    text-transform: capitalize;

   }


.img {
    height:30px;
    width:30px;
}
#me{
  height: 200px;
  width: 150px;
}
a{
  color:blue;
}

